body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/all-bg-pages.png") no-repeat;
  background-size: cover;
  padding: 30px 50px;
  box-sizing: border-box;
  font-style: normal;
  line-height: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.home-page {
  position: relative;
  overflow: hidden;
  height: 100vh;
  &::before {
    content: "";
    display: inline-block;
    width: 55%;
    height: 56%;
    flex-shrink: 0;
    fill: #fdb827;
    background: #fdb827;
    filter: blur(140px);
    position: absolute;
    bottom: -22%;
    right: 8%;
    border-radius: 50%;
    z-index: -1;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 40%;
    height: 40%;
    flex-shrink: 0;
    fill: #fdb827;
    border-radius: 50%;
    background: #21209c;
    filter: blur(130px);
    position: absolute;
    right: -20%;
    bottom: 15%;
    z-index: 1;
  }
}

@media screen and (max-width: 1023px) {
  body {
    padding: 15px;
    box-sizing: border-box;
    min-height: 100vh;
  }
  .home-page {
    &::before,
    &::after {
      content: none;
    }
  }
}
